.movies-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.081);
}

.movie-card-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  width: 190px;
  margin: 15px;
  text-decoration: none;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.422);
}

.movie-card-container:hover {
  width: 198px;
  box-shadow: 0px 0px 7px 4px rgba(8, 8, 8, 0.735);
}

.movie-image-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.movie-card-image {
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.movie-rating {
  align-items: center;
  background-color: rgba(189, 175, 175, 0.872);
  color: rgb(6, 5, 5);
  width: 48px;
  height: 48px;
  padding: 8px 5px;
  font-size: 18px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;

  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: bold;
  border: 3px solid #0b0a0a;
  top: 3%;
  position: absolute;
  bottom: 0;
  left: 75%;
}

.movie-card-title {
  font-size: 18px;
  color: #000;
  padding: 0 12px;
  width: 100%;
  margin: 10px 0;
}

.movie-card-date {
  color: rgba(0, 0, 0, 0.589);
  padding: 0 12px;
  margin-bottom: 10px;
  font-size: 14px;
}

.buttons-home-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.081);
}

.button-page-previous,
.button-page-next {
  font-size: 18px;
  padding: 10px;
  width: 30%;
  border: none;
  border-radius: 10px;
  color: #000;
  margin: 0 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.081);
}

.button-page-next:hover {
  font-weight: bold;
}

.button-page-previous:hover {
  font-weight: bold;
}

.button-page-next i {
  margin-left: 7px;
}

.button-page-previous i {
  margin-right: 7px;
}
