.principal-header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
  padding-bottom: 10px;
}

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0px 7px 10px -6px rgba(0, 0, 0, 0.38);
}

.header-top-logo {
  padding-bottom: 20px;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

.header-top-image {
  border: 0;
}

.principal-form-container {
  padding-bottom: 10px;
}

.principal-form-container input {
  padding: 5px 10px;
  border-right: none;
  border-top-left-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.742);
  border-bottom-left-radius: 5px;
}

.form-search_icon {
  border: 1px solid rgba(0, 0, 0, 0.742);
  padding: 5px;
  border-top-right-radius: 5px;
  background-color: #000;
  border-bottom-right-radius: 5px;
}

.form-search_icon i {
  font-size: 13px;
  cursor: pointer;
  color: #fff;
}
<<<<<<< HEAD
=======
